
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send messages</title>
</head>
<body>
    <h1>Hello LCC!</h1>

    <img src="~/Images/runningCat.jpg" alt="running cat">

    <a asp-action="Test">Index</a>
</body>
</html>


